html {
  height: 100%;
  min-height: 100%;
}

body {
  min-height: 100%;
}

body,
h1,
p {
  font-size: 90%;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

body {
  background: #333 url(/images/background.jpg)  no-repeat center center fixed;
  background-size: cover;
  color: #fff;
  font-family: 'Helvetica', sans-serif;
}

body > div {
  left: 50%;
  padding: 0.5em 1em;
  position: fixed;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

header {
  color: #cf0000;
  margin-bottom: 2em;
}

h1 {
  color: #fff;
  font-size: 2.5em;
  font-weight: bold;
  text-transform: lowercase;
}

p {
  font-size: 1.5em;
}

a {
  color: inherit;
  text-decoration: none;
}

a:active,
a:hover {
  color: #af0000;
  text-decoration: underline;
}
